*{
    margin : 0px;
    padding: 0px;
    box-sizing: border-box;
}
body
{

    font-family: sans-serif;
}

h1
{
    padding: 1.25% 0 0 0.5%;
    color: white;
    background-color: black;
    text-align: center;
    font-size: 50px;
    font-family: "Bebas Neue";
    font-stretch: ultra-expanded;
}

h2
{
    padding: 1.25%;
    font-size: 30px;
    font-family: "Bebas Neue";
    font-stretch: ultra-expanded;
}

h3
{
    margin: 15px;
}

p
{
    margin: 15px;
    padding-bottom: 200px;
}

#logo
{
    position: absolute;
}

#W , #B
{
    font-size: 65px;
    font-weight: bold;
}

/*main menu bar*/

.menu-bar
{
    background: rgb(0, 0, 0);
    text-align: center;
}

.menu-bar .fa
{
    margin-right: 8px;
}

.menu-bar ul
{
    display: inline-flex;
    list-style: none;
    color: #fff;
}

.menu-bar ul li
{
    white-space: nowrap;
    padding: 15px 20px 15px 20px;
    margin: 15px;

}

.menu-bar ul li a
{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.active, .menu-bar ul li:hover
{
    background: #e4cd05f5;
    border-radius: 3px;
}

/*dropdown menu list items*/

.sub-menu1
{
    display: none;
}

.menu-bar ul li:hover .sub-menu1
{
    display: block;
    position: absolute;
    background:#e4cd00;
    margin: 15px 0 0 -20px;
}

.menu-bar ul li:hover .sub-menu1 ul
{
    display: block;
}

.menu-bar ul li:hover .sub-menu1 ul li
{
    width: 167px;
    padding: 10px 0 10px 0px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0px;
    text-align: left;
}

.menu-bar ul li:hover .sub-menu1 ul li:last-child
{
    border-bottom: none;
}

.menu-bar ul li:hover .sub-menu1 ul li a:hover
{
   color: #6e3f00;
}

/*body to be filled*/

/*footer*/
.footer
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: black;
    color: white;
    text-align: center;
    padding: 10px
}